<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Do Fill The Gap Excercise</title>

</head>
<body>
<div align="center">

    <h1>Do Fill The Gap Exercise</h1>
    <form method="POST">
        <span align="left" th:each="question : ${exercise.getQuestions()}">
            <td valign="top" th:text="${question.text}">Text</td>
            <td align="left" th:each="solution : ${question.getSolutions()}">
                <input type="text" th:background="red" th:name="solution"></input>
            </td>
        </span>
        <br><input type="submit" value="Submit">
    </form>
</div>
</body>
</html>