<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create Quiz Exercise</title>
</head>
<body>
<br>
<br>
<div th:replace="fragment/header :: header"></div>
<br>
<br>
<div align="center">

    <h1>Register Quiz Exercise</h1>

    <form method="POST" th:object="${testExercise}">
        <div align="left" class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input is incorrect
                </li>
            </ul>
        </div>

        <table>
            <tr>
                <td align="center"><label th:class="${#fields.hasErrors('description')}? 'error'">Description</label>
                </td>
                <td align="center"><label th:class="${#fields.hasErrors('difficulty')}? 'error'">Difficulty</label></td>
                <td align="center"><label th:class="${#fields.hasErrors('experience_points')}? 'error'">Experience
                    Points</label></td>
            </tr>
            <tr>
                <td><textarea name="description" rows="8" cols="64" minlength="5" maxlength="1024" th:field="*{description}"
                              th:class="${#fields.hasErrors('description')}? 'error'"/>
                    </textarea>
                </td>
                <td align="center" valign="top"><input type="number" min="1" max="9"
                                                       th:field="*{difficulty}"
                                                       th:class="${#fields.hasErrors('difficulty')}? 'error'"/>

                <td align="center" valign="top"><input type="number" min="0" max="9999"
                                                       th:field="*{experience_points}"
                                                       th:class="${#fields.hasErrors('experience_points')}? 'error'"/>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th align="left">
                    In order to create a Test exercise type, you should enter the question and the answers separated,<br /> the questions surrounded by a #Q #/Q block, and the answers by a #R #/R block, adding a #C to the correct solution.<br />
                    Example:<br />
                    #QIn Java, the variable type that only has two possible values is:#/Q<br />
                    #R The boolean#C#/R<br />
                    #R The int#/R<br />
                    #R The String#/R<br />
                    #R The double#/R<br />
                    Being "boolean" the correct answer, we add the #C command to indicate it.</th>
            </tr>
            <tr><td><textarea th:name="questions" rows="20" cols="150" minlength="5" maxlength="9000"></textarea></td></tr>
        </table>
        <input type="submit" name="end" value="Add More Exercises"/>
        <input type="submit" name="end" value="Finish"/>


    </form>
</div>
</body>
</html>