<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mark</title>
</head>
<body>
<div align="center">
    <h4>Your mark is:</h4><br>
    <h2 valign="top" th:text="${pass}"></h2>
    <h1 valign="top" th:text="${mark}">A+</h1>
    <h2 valign="top" th:text="${submission.mark}">Mark</h2>
    <form method="POST">
        <input type="submit" name="chosen" value="See Results">
        <input type="submit" name="chosen" value="Retry">
        <input type="submit" name="chosen" value="Return">
    </form>
</div>
</body>
</html>