<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Header</title>
</head>
<body>
<div id="header_container" th:fragment="header">
    <div id="header">
        <div class="logo" onclick="window.location.href='/' "></div>
        <nav>
            <a href="/tutorials">Tutorials</a>
            <a href="/challenges">Challenges</a>
            <a href="/forum">Forum</a>
            <a href="/profile"sec:authentication="name">Username</a>
        </nav>
    </div>
</div>
</body>
</html>