<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Header</title>
    <link href="../../fragment/header2.css" rel="stylesheet" type="text/css" th:fragment="header">
</head>
<body>
<div id="header_container" th:fragment="header">
    <div id="header">
        <div class="logo" onclick="window.location.href='/' "></div>
        <nav>
            <a href="/tutorial/all">Tutorials</a>
            <a href="/challenge/all">Challenges</a>
            <a href="/forum/all">Forum</a>
            <a href="/login"th:if="${#authentication.name=='anonymousUser'}">Log in</a>
            <a href="/createUser"th:if="${#authentication.name=='anonymousUser'}">Register</a>
            <a href="/profile"th:text="${#authentication.name}" th:unless="${#authentication.name=='anonymousUser'}">Username</a>
            <a href="/logout"th:unless="${#authentication.name=='anonymousUser'}">Exit</a>
        </nav>
    </div>
</div>
</body>
</html>