<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${tutorial.title}"></title>
</head>
<body>
<br>
<br>
<div th:replace="fragment/header :: header"></div>
<br>
<br>
<table width="100%">
    <td style="width: 25%" th:replace="fragment/listTutorialsLeft :: Left"></td>
    <td style="width: 75%">
        <form method="post">
            <div>
                <h1 align="center" th:text="${tutorial.title}">Title</h1>
                <p th:utext="${tutorial.description}">Description</p>
                <table>
                    <td>
                        <tr th:each="exercise : ${tutorial.getExerciseList()}">
                            <td th:text="${exercise.description}">Description</td>
                            <br>
                            <td>Difficulty:</td>
                            <td th:text="${exercise.difficulty}">Difficulty</td>
                            <br>
                            <td><input type="submit" name="chosen" th:value="${exercise.exercise_ID}"></td>
                        </tr>
                    </td>
                </table>
                <input type="submit" name="chosen" value="Return">
            </div>
        </form>
    </td>
</table>
</body>
</html>