<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="table.css"/>
</head>
<body>
<div>
    <h1 align="center" th:text="${tutorial.title}">Title</h1>
    <p th:text="${tutorial.description}">Description</p>
    <td>
        <tr th:each="exercise : ${tutorial.getExerciseList()}">
            <td th:text="${exercise.description}">Description</td>
            <br>
            <td>Difficulty:</td>
            <td th:text="${exercise.difficulty}">Difficulty</td>
            <br>
            <input type="button" name="button" value="Try"><br>
        </tr>
    </td>
    <input type="button" name="button" value="Return">
</div>
</table>
</body>
</html>