<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script type="text/javascript">
        function input(id){
            var text = id.toString();
            document.forms.comments.comment.value = text;
        }
    </script>

    <meta charset="UTF-8">
    <title th:text="${discussion.title}"></title>
    <style>table {
        width: 100%;
    }</style>
</head>
<body>
<div th:replace="fragment/header :: header">HEADER</div>
<br>
<br>
<div align= "center">
    <form name="comments" method="post">
        <h2 align="center" th:text="${discussion.title}">Title</h2>
        <table>
            <tr>
                <td width=1 valign="left" th:text="${discussion.user.username}">Username</td>
                <br>
                <td valign="left" th:utext="${discussion.description}">Description</td>
                <table border="1">
                    <tr th:each="comment : ${discussion.getComments()}">
                        <td width=1 valign="top" th:text="${comment.user.username}">Username</td>
                        <td valign="top" th:utext="${comment.comment}">Comment</td>
                        <td width=1 align="right"> <input class="button" type="button" onclick="input();" value="Reply"/></td>
                    </tr>
                </table>
            </tr>
            <td align="center"><textarea name="comment" rows="8" cols="64" minlength="2" maxlength="2048"/></textarea>
                <input type="submit" value="Send comment"/>
            </td>
        </table>
    </form>
</div>
</body>
</html>