<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${discussion.title}"></title>
    <link href="../../fragment/header2.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div>
<form method="post">
    <h2 align="center" th:text="${discussion.title}"></h2>
    <table border="1">
        <tr>
            <td valign="top" th:text="${discussion.description}">Description</td>
            <table border="1">
                <tr th:each="comment : ${discussion.getComments()}">
                    <th valign="top"th:text="${comment.comment}">Comment</th>
                </tr>
            </table>
        </tr>
        <td><textarea name="comment" rows="8" cols="64" minlength="2" maxlength="2048"/></textarea>
            <input type="submit" value="Send comment"/>
        </td>
    </table>
</form>
</div>
</body>
</html>