<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Challenges</title>
    <link href="../../fragment/header2.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<h2 align="center">All Challenges</h2>
<form method="post">
    <table>
        <tr th:each="challenge : ${challengesList}">
            <td><a  th:href="@{'/challenge/' + ${challenge.postID}}" th:text="${challenge.title}">Title</a></td>
        </tr>
    </table>
</form>
<input type="button" value="Create New Challenge" onclick="window.location.href='/createChallenge' ">
</body>
</html>