<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tutorials</title>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div th:replace="fragment/search :: search"></div>
<h2 align="center">All Tutorials</h2>
    <ul id="id01">
        <li th:each="tutorial : ${tutorialList}">
            <a  th:href="@{'/tutorial/' + ${tutorial.postID}}" th:text="${tutorial.title}">Title</a>
        </li>
    </ul>
<input type="button" value="Create New Tutorial" onclick="window.location.href='/tutorial/create' ">
</body>
</html>