<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${challenge.title}"></title>
    <link href="../../fragment/header2.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<form method="post">
    <div>
        <h1 align="center" th:text="${challenge.title}">Title</h1>
        <p th:text="${challenge.description}">Description</p>
        <td>
            <tr th:each="exercise : ${challenge.getExerciseList()}">
                <td th:utext="${exercise.description}">Description</td>
                <br>
                <td>Difficulty:</td>
                <td th:text="${exercise.difficulty}">Difficulty</td>
                <!--<td th:text="'Completed'" th:unless="${exercise.submission.pass==false}">Difficulty</td>-->
                <br>
                <input type="submit" name="chosen" th:value="${exercise.exercise_ID}"><br>
            </tr>
        </td>
        <input type="submit" name="chosen" value="Return">
    </div>
    </table>
</form>
</body>
</html>