<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Challenges</title>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<h2 align="center">All Challenges</h2>
<br>
<br>
<div th:replace="fragment/search-Challenge :: search-Challenge"></div>
<ul id="id01">
    <li th:each="challenge : ${challengesList}">
        <a  th:href="@{'/challenge/' + ${challenge.postID}}" th:text="${challenge.title}">Title</a>
    </li>
</ul>
</body>
</html>