<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${discussion.title}"></title>
    <style>table {
        width: 100%;
    }</style>
</head>
<body>
<br>
<br>
<div th:replace="fragment/header :: header">HEADER</div>
<br>
<br>
<div align= "center">
    <form name="comments" method="post">
        <h2 align="center" th:text="${discussion.title}">Title</h2>
        <table>
            <tr>
                <td width=1 valign="left" th:text="${discussion.user.username}">Username</td>
                <br>
                <td valign="left" th:utext="${discussion.description}">Description</td>
                <table border="1">
                    <tr th:each="comment : ${discussion.getComments()}">
                        <td style="width: 10%" valign="top" th:text="${comment.user.username}">Username</td>
                        <td style="width: 80%" valign="top" th:utext="${comment.comment}">Comment</td>
                        <td style="width: 10%" align="right"> <a class="list-group-item list-group-item-action"  th:href="@{'/forum/discussion/'+${discussion.postID}+'/'+${comment.commentID}}" th:text="Reply"/></td>
                    </tr>
                </table>
            </tr>
            <td>Reply</td>
            <td align="center"><textarea name="comment" rows="8" cols="64" minlength="2" maxlength="2048"/></textarea>
                <input type="submit" value="Send comment"/>
            </td>
        </table>
    </form>
</div>
</body>
</html>