<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Error Login</title>
    <link href="Login.css" rel="stylesheet" type="text/css">
    <link href="../../fragment/header2.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragment/header :: header"></div>
    <header>
        <div class="row">
            <h1>Access denied</h1>
            <span>Error: access not allowed</span>
        </div>
    </header>
</body>
</html>