<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Register User</title>
    <link href="InitialPage.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="row">
            <ul class="main-nav">
                <li class="active"><a href="">TUTORIALS</a></li>
                <li><a href="">OTHERS</a></li>
                <li><a href="">OTHERS</a></li>
                <li><a href="">OTHERS</a></li>
            </ul>
        </div>
    </header>
</body>
</html>