<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Register User</title>
    <link href="RegisterUser.css" rel="stylesheet" type="text/css">
    <link href="../../fragment/header2.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div>
    <form method="post" th:object="${createUser}">
        <div align="left" class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input is invalid
                </li>
            </ul>
        </div>
        <div class="hero">
            <h1>Register</h1>
            <div class="login">
                <div>Username <input type="text" class="lgn login-name" th:field="*{username}"
                       th:class="${#fields.hasErrors('username')}?'error'"/></div><br/>

                <div>First name <input type="text" class="lgn login-name" th:field="*{firstName}"
                       th:class="${#fields.hasErrors('firstName')}?'error'"/></div><br/>

                <div>Last name <input type="text" class="lgn login-name" th:field="*{lastName}"
                       th:class="${#fields.hasErrors('lastName')}?'error'"/></div><br/>

                <div>Email <input type="text" class="lgn login-name" th:field="*{email}"
                       th:class="${#fields.hasErrors('email')}?'error'"/></div><br/>

                <div>Password <input type="password" class="lgn login-password" th:field="*{password}"
                       th:class="${#fields.hasErrors('password')}?'error'"/></div><br/>

                <div>Birthday (dd/mm/yyyy)<input type="text" class="lgn login-name" th:field="*{birthday}"
                       th:class="${#fields.hasErrors('birthday')}?'error'"/></div><br/>

                <div class="button">
                    <a href="MainPage.html" class="btn button-one">sign in</a>
                    <input type="submit" class="btn button-one" value="createUser">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>