<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>RegisterUser</title>
    <link href="RegisterUser.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <form method="post" th:object="${createUser}">
        <div class="hero">
            <h1>Register</h1>
            <div class="login">
                <input type="text" class="lgn login-name" th:field="*{username}" />Username<br/>
                <input type="text" class="lgn login-name" th:field="*{firstName}" />firstName<br/>
                <input type="text" class="lgn login-name" th:field="*{lastName}" />lastName<br/>
                <input type="text" class="lgn login-name" th:field="*{email}" />email<br/>
                <input type="password" class="lgn login-password" th:field="*{password}" />password<br/>
                <input type="text" class="lgn login-name" th:field="*{birthday}" />birthday must be follow dd/mm/yyyy format<br/>

                <div class="button">
                    <a href="InitialPage.html" class="btn button-one">sign in</a>
                    <a href="InitialPage.html" class="btn button-two">register</a>
                    <input type="submit" class="btn button-one" value="createUser">
                </div>
            </div>
        </div>
    </form>
</header>
</body>
</html>