@font-face {
    font-family: 'quicksandbold';
    src: url('quicksand_bold-webfont.woff2') format('woff2'),
    url('quicksand_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
}

#header_container {
    background: #41d6f2;
    height: 60px;
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
}

#header {
    line-height: 60px;
    margin: 0 auto;
    width: 940px;
    text-align: left;
}
/* Dropup Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
    position: relative;
    display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    bottom: -50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
    display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
    background-color: #2980B9;
}

div .logo {
    content: url(winter.png);
    width: 206px;
    margin-top: 2px;
    margin-left: -200px;
    float: left;
}

div .user {
    float: right;
    margin-right: -700px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-family: "quicksandbold";
    margin-top: 15px;
    font-size: 10px;
    font-weight: bold;
}
div .user:hover {
    color: #0a79f2;
}

div nav {
    float: right;
    line-height: 60px;
}

div nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-family: "quicksandbold";
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

div nav a:hover {
    color: #0a79f2;
}
